html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-color: #cae9ff;
    font-family: Gotham,gotham,Verdana,sans-serif;
    max-height: 100%;
}

.background {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.label {
    font-size: large;
    font-variant: normal;
    color: #323232;
    margin-bottom:5px;
}

.textbox {
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px;
    padding-left:4px;
    box-shadow: 1px 1px 2px 1px #9D9EA0 inset;
    border: none;
}



/*Containers and Items*/ 
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 100%;
    box-sizing:border-box;
}
.leftContainer {
    margin-right: 4px;
}

.rightContainer {
    margin-left: 4px;
}

.item {
    width: 50%;
    height: 100%;
}

.buildingListContainer{
    margin-top:10px;
}

.labelSearchItem {
    margin-bottom: 5px;
    margin-top: 15px;
}


/*Tables*/
table{
    width:100%;
    background: white;
    border-collapse:collapse;
    border-spacing:0;
}

.blueTable {
    color: #323232;
    font-family: Gotham,gotham,Verdana,sans-serif;
    font-size: small;
}

table.blueTable th{
    background:rgba(255, 255, 255, 0.89);
}
table.blueTable tr:nth-child(even){
    background:rgba(208, 221, 242, 0.89);
}
table.blueTable a{
    color:#323232;
}
table.blueTable a:hover{
    color:red;
}


/*Buttons*/
.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:8px;
}

.button {
    width: 16%;
    height: 50px;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    color: #323232;
    font-family: Gotham,gotham,Verdana,sans-serif;
    font-size: small;
    font-weight: bold;
    white-space:normal;
    padding:0;
}

    .button:hover {
        background-color: #b1b1b1;
    }



/*Image Gallery*/

.gallery {
    width: 100%;
    display:table;
}
    .gallery img {
        width: 25%;
        height: auto;
        
    }
  
    .gallery td{
        width:25%;
    }
    .gallery tbody{
        height:100%;
    }

.grabbable {
    cursor: all-scroll;
}



