html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-color: #eaebf2;
    font-family: 'Open Sans', sans-serif;
    /*max-height: 100%;*/
}

.background {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.label {
    font-size: large;
    font-variant: normal;
    color: #323232;
    margin-bottom:5px;
}

.textbox {
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px;
    padding-left:4px;
    box-shadow: 1px 1px 2px 1px #9D9EA0 inset;
    border: none;
    height:30px;
    width:100%;
}
.textbox::placeholder{
    font-size:16px;
}
.textbox:focus::placeholder{
    color:transparent;
}




/*Containers and Items*/ 
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 100%;
    box-sizing:border-box;
}
.leftContainer {
    width:50%;
    flex-direction:column;
    box-sizing: border-box;
    padding-right: 10px;
}

.rightContainer {
    width:50vw;
    height:100vh;
    box-sizing: border-box;
    padding-left: 10px;
}

.item {
    width: 50%;
    height: 100%;
}

.bordercontainer {   
    box-shadow: 10px 10px 4px -5px rgba(138,138,138,0.49);
    padding: 3px;
    background-color: #6191A1;
    border-radius: 5px;
}

.labelSearchItem {
    margin-top: 20px;
}

.zoomButtonContainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.bigImageContainer{
    background-color:transparent;
    height: 90vh;
    box-sizing: border-box;
    border: 5px solid #6191a1;
    border-radius: 5px;
    overflow: hidden;
   
}


/*Tables*/
table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    text-align: center;
    border: transparent;
}

.blueTable {
    color: #323232;
    font-family: 'Open Sans', sans-serif;
}
table.blueTable tr{
    height:30px;
    cursor: pointer;
}
    table.blueTable tr:hover {
        background-color: rgba(200, 223, 230, 0.64);
    }

table.blueTable th {
    background:#6191a1;
    color: white;
    cursor: default;
    height: 20px;
    font-size: 14px;
}
table.blueTable td{
    font-size: 12px;
    padding-right:3px;
    padding-left:3px;
}
table.blueTable th, td {
    border-bottom: 1px solid #ddd;
    border-top:transparent;
    border-left:transparent;
    border-right:transparent;
}
table.blueTable tr:last-child{
    height:30px;
}
table.blueTable tr:last-child:hover {
    background: white;
}


.hiddencolumn{
    display:none;
}

.currentPicItem{
    margin-top:10px;
}

/*Buttons*/
.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonContainerBelow{
    margin-top:5px;
}


.button {
    width: 16%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 3px;
    color: #323232;
    font-family: 'Open Sans', sans-serif;
    white-space: normal;
    padding: 0;
    background-color: white;
    border: 1px solid #6191a1;
    cursor: pointer;
}

    .button:hover {
        transform: translate3d(0,-4px,0);
        box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
        background-color: #6191a1;
        color: white;
    }
 
.zoomButton{
    margin: 5px;
}

.gallery{
    width:100%;
    box-sizing:border-box;
    background-color: white;
    display: flex;
    justify-content: center;
    border: 5px solid #6191a1;
    margin-top: 10px;
    flex-wrap: wrap;
}
.galleryButton{
    width:200px;
    height:200px;
    margin: 10px;
    border: 2px solid #6191a1;
    border-radius: 5px;
}

    .galleryButton:hover {
        transform: translate3d(0,-4px,0);
        box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
        background-color: #6191a1;
        color: white;
    }
    
.dragscroll{
    background-color:transparent;
    min-height: 100%; 
}
.dragscroll img{
    
}
