html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../StylePhotos/PoliceStation.jpg) no-repeat center center fixed;
    background-size: cover;
}

form {
    width: 300px;
}


.label {
    font-family: Gotham,gotham,Verdana,sans-serif;
    font-size: small;
    color: #323232;
    letter-spacing: .5px;
}

.textbox {
    background-color: #fff;
    border-radius: 2px;
    width: 250px;
    height: 30px;
    box-sizing: border-box;
    padding: 2px;
    box-shadow: 1px 1px 2px 1px #9D9EA0 inset;
    border: none;
    margin-top: 5px;
}

.button {
    border-radius: 5px;
    font-family: Gotham,gotham,Verdana,sans-serif;
    height: 30px;
    background: #fff;
}

    .button:hover {
        background: #d5d5d5;
    }

/*Items*/
.registrationDiv {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 300px;
    box-shadow: 4px 5px 3px 2px #0009;
    background: #f6f6f6;
}

.item{
    display:flex;
    flex-direction:column;
    margin-top: 20px;
}
.bottomitem{
    margin-bottom:20px;
}



